@import url(variable.css);
body {
    background-color: white;
}

h1,h2,h3,h4,h5,h6 {
    text-align: center;
    margin: 2rem;
}

h1 {
font-size: 6rem;
color: black;
}

.display-card {
display: flex;
align-items: center;
justify-content: space-around;
flex-wrap: wrap;
padding: 1rem;
background-color: blueviolet;
}

:root {
--white: white;
--black: black;
}

.light {
    color: black;
    background-color: var(--light);
    border-color: black;
}

.dark {
    color: white;
    background-color: var(--black);
    border-color: white;
}