@import url(variable.css);
:root {
    --black: black;
    --white: white;
    } 

body {
    background-color: var(--white);
}

h1,h2,h3,h4,h5,h6 {
    text-align: center;
    margin: 2rem;
}

.display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90vw;
    margin: 2rem auto;
  }

  .display-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 25%;
    height: 55rem;
    margin: 1rem auto;
    align-items: center;
  }

  .display-img {
    width: 100%;
    height: auto;
  }


.light {
    border-color: black;
    background-color: var(--white);
}

.dark {
    color: white;
    background-color: var(--black);
    border-color: white;
}

.male {
    border-color: black;
}

.female {
    border-color: black;
}

.age {
    border-color: black;
}

.expensive {
    border-color: black;
}

.available {
    border-color: black;
}

.smart {
    border-color: black;
}

.inflation {
    border-color: black;
}