@import url(variable.css);
body {
    background-color: white;
}

h1,h2,h3,h4,h5,h6 {
    text-align: center;
    margin: 2rem;
}

.display-card{
display: flex;
align-items: center;
justify-content: space-around;
flex-direction: column;
padding: 1rem;
margin-left: 1rem;
margin-right: 1rem;
}

.display-img {
    width: 50vh;
    height:20vw;
}

:root {
--white: white;
--black: black;
}

.buttons {
}

.light {
    border-color: black;
}

.dark {
    color: white;
    background-color: var(--black);
    border-color: white;
}

.male {
    border-color: black;
}

.female {
    border-color: black;
}

.age {
    border-color: black;
}

.expensive {
    border-color: black;
}

.available {
    border-color: black;
}

.smart {
    border-color: black;
}